{{define "body"}}
<div class="row valign-wrapper" style="height: 100vh;">
  <div class="col s3">
    <div class="card">
      <div class="card-image">
        <img src="http://placekitten.com/100/120" alt="{{.Prev.Name}}">
      </div>
      <div class="card-action">
        <a href="/prev">prev</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <div class="card">
      <div class="card-image">
        <img src="http://placekitten.com/100/120">
        <span class="card-title">{{.Current.Name}}</span>
      </div>
      <div class="card-action">
        <a href="/skip">Skip</a>
      </div>
    </div>
  </div>
  <div class="col s3">
    <div class="card">
      <div class="card-image">
        <img src="http://placekitten.com/100/120" alt="{{.Next.Name}}">
      </div>
      <div class="card-action">
        <a href="/next">Next</a>
      </div>
    </div>
  </div>
</div>
</div>
{{end}}