{{define "body"}}
<div class="row valign-wrapper" style="height: 100vh;">
  <div class="col s12 m6 offset-m3">
    <div class="card horizontal">
      <div class="card-image">
        <img src="http://placekitten.com/100/150" />
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <h6>{{.Name}}</h6>
        </div>
        <div class="card-action">
          <a href="/prev">Back</a>
          <a href="/next">Next</a>
        </div>
      </div>
    </div>
  </div>
</div>
{{end}}
