<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>omni-tool</title>
  </head>
  <body>
    <div class="container">
        <div class="row valign-wrapper" style="height: 100vh;">
            <div class="col s12">
                <img class="hoverable" style="display: block; margin: auto;" src="assets/sadcat.png">
                <h5 class="center-align">{{.}}</h5>
                <div class="row center">
                  <a class="waves-effect waves-light btn red" href="reset">reset</a>
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
